WeppAplicationSunat/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Listar">
        <s:complexType />
      </s:element>
      <s:element name="ListarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Agregar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Ruc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoDocumento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Condicion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ubigeo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ViaTipo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ViaNombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ZonaCodi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ZonaTipo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="numero" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Interior" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Lote" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Dpto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Manzana" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Kilometro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Distrito" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Provincia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Departamento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AgregarResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Buscar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="texto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="criterio" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListarSoapIn">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="ListarSoapOut">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:message name="AgregarSoapIn">
    <wsdl:part name="parameters" element="tns:Agregar" />
  </wsdl:message>
  <wsdl:message name="AgregarSoapOut">
    <wsdl:part name="parameters" element="tns:AgregarResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarSoapIn">
    <wsdl:part name="parameters" element="tns:Buscar" />
  </wsdl:message>
  <wsdl:message name="BuscarSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="Listar">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Listar la tabla Sunat</wsdl:documentation>
      <wsdl:input message="tns:ListarSoapIn" />
      <wsdl:output message="tns:ListarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Agregar">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Agregar un registro a la tabla Alumno</wsdl:documentation>
      <wsdl:input message="tns:AgregarSoapIn" />
      <wsdl:output message="tns:AgregarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Buscar">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Buscar en la tabla Sunat</wsdl:documentation>
      <wsdl:input message="tns:BuscarSoapIn" />
      <wsdl:output message="tns:BuscarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Listar">
      <soap:operation soapAction="http://tempuri.org/Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Agregar">
      <soap:operation soapAction="http://tempuri.org/Agregar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Buscar">
      <soap:operation soapAction="http://tempuri.org/Buscar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Listar">
      <soap12:operation soapAction="http://tempuri.org/Listar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Agregar">
      <soap12:operation soapAction="http://tempuri.org/Agregar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Buscar">
      <soap12:operation soapAction="http://tempuri.org/Buscar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://sunatproyect.somee.com/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://sunatproyect.somee.com/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>